#!/usr/bin/make -f

export DH_GOPKG := github.com/markchristopherwest/golang-actorname

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_install:
	mkdir -p ${PWD}/debian/tmp/usr/lib
	dh_install
